@tailwind base;
@tailwind components;
@tailwind utilities;
@import "src/assets/styles/places-autocomplete";

html,
body {
  margin: 0;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
label {
  font-weight: 500;
}
html {
  //height: 100%;
}
