$border-color: #D0D5DD;
$border-light: #f0f0f0;
$divider: #D0D5DD;
$bg-body: #f0f2f5;
$bg-green: #0bc0a0;
$white-faded: rgba(255, 255, 255, 0.6);
$white-faded-light: rgba(255, 255, 255, 0.1);
$light-gray: #fafafa;
$primary: #333333;
$text-secondary:#667085;
$blue: #085988;
$grey: #9095A0;
$grey-dark: #d9d9d9;
$green:#AAE5B7;
$text: #333;
$primary-light: #848484;
$danger: #EC2D32;